[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nestjs-public-microservices/client-gateway
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/nestjs-public-microservices/auth-ms
